body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;

}
h2{
    color: black;
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;

    





}
input[type="search"]{
    height: 100%;
    width: 100%;
    font-weight: 12px;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    text-align: center;
    border: 5px solid black;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;





    

}
button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}